.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 63px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header .logo {
    margin-left: 18px;
    margin-top: +5px;
    height: 75px;
    width: auto;
  }

  .header .buttons {
    margin-right: 40px;
    margin-top: -6px;
    display: flex;
    justify-content: space-between;
  }
  
  .header .buttons a {
    margin-left: 60px;
    color: white;
    font-size: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
  }
  
  .header .buttons a:hover {
    color: #c0c0c0;
  }
