.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 57px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header .logo {
    margin-left: 10px;
    height: 70px;
    width: auto;
  }
  
  .header .buttons {
    margin-right: 40px;
  }
  
  .header .buttons button {
    margin-left: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #ffffff;
  }

  .header .buttons button:hover {
    color: #000000;
  }

.current-time {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: #fff;
}

.background-animation {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.explore-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #ffffff;
    position: absolute;
    margin: 0 auto;
    text-align: left;
    font-size: 17px;
  }

  .explore-button:hover {
    color: #000000;
  }


.body-text {
    position: relative;
    height: 50vh;
    text-align: left;
    transform: translateY(50%);
    margin: 0 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #ffffff;
    font-size: 1.40rem;
}
  
  .body-text p {
    font-size: 20px;
  }

.homepage {
    /* position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; */
}