.current-time {
    position: relative;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: #fff;
}

.homepage {
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-animation {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.body-text {
    position: relative;
    height: 50vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}