.current-time {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: #ffffff;
}

.background-animation {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.explore-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #ffffff;
    position: fixed;
    margin: 0 auto;
    text-align: left;
    font-size: 17px;
  }

  .explore-button:hover {
    color: #c0c0c0;
  }


.body-text {
    position: absolute;
    height: 50vh;
    text-align: left;
    transform: translateY(50%);
    margin: 0 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #ffffff;
    font-size: 1.40rem; /*proportionally increase body-text size*/
}
  
  .body-text p {
    font-size: 20px;
  }

.homepage {
    height: 200vh;
    width: 100%;
    overflow-x:hidden;
    background-color: #131313;
}